nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  nav a:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
  }
  